.jav-item {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #222;
    display: flex;
    justify-content: space-between;
}

.jav-item .item-info .item-name {
    display: block;
}