.modalBackground {
	width: 100vw;
	height: 100vh;
	background-color: rgba(200, 200, 200, 0.8);
	position: fixed;
	top: 0;
	left: 0;
}

.modalContainer {
	background-color: white;
	width: 50%;
	height: 500px;
	padding: 50px 0;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border-radius: 20px;
}

.modalContainer .titleCloseBtn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.modalContainer .modalTitle h1 {
	font-size: 24px;
}

.modalContainer .modalBody {
	width: 80%;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
}

.modalContainer .modalBody div {
	justify-content: flex-start;
	width: 80%;
	gap: 20px;
}

.modalContainer .modalBody div label {
	width: 30%;
}

.modalContainer .modalBody div span {
	width: 70%;
	text-align: left;
}

.modalContainer .modalFooter {
}

.modalContainer .footerCloseBtn {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 60px;
	height: 30px;
	border: 0;
	border-radius: 20px;
	background-color: rgb(26, 154, 227);
	color: white;
}

button {
	cursor: pointer;
}
