form {
	width: 100%;
	margin: auto;
	flex-direction: column;
	gap: 10px;
}

form h2 {
	font-size: 20px;
}

form div {
	width: 50%;
	justify-content: space-between !important;
}

form div input,
form div select {
	width: 300px;
}
